{% extends 'Blog_Posts/base.html' %}


{% block content %}

    <h1> About Us </h1>
    <p>This is basically twitter site where you can upload your posts 
        and also with login and registration is working 
        you can upload profile picture, update profile, 
        update posts, delete posts you can get one user
         have which and how posts by just clicking on 
         to the username 
        also in this app pagination is done.
     </p>

        
{% endblock content %}

    
